.header-container {
  width: 100%;
}

.title-container {
  padding: 5px;
  border: 2px solid black;
  border-bottom: 0;
  background-color: lightblue;
  width: 100%;
}
.user-info-container {
  padding-top: 5px;
  padding-left: 5px;
  background-color: lightblue;
  border: 2px solid black;
  width: 100%;
}

.grid-container {
  width: 100%;
}

.user-info-columns {
  width: 30%;
}

.user-info-item {
  width: 250px;
  height: 25px;
}

.name-address-container {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.report-name-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.largest-text {
  font-size: 40px;
}

.user-button {
  float: right;
  width: 120px;
  margin-top: 5px;
}

.receipt-button {
  margin-right: 8px;
  width: 120px;
  float: right;
}
