.header-container {
  display: flex;
  flex-direction: column;
  background-color: red;
  width: 100%;
  height: 200px;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;

  border-bottom: 3px solid white;

  background-color: lightblue;
  width: 100%;
  height: 50px;
}
.user-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightgrey;
  width: 100%;
  height: 150px;
}

.user-info-columns {
  padding: 7px;
  width: 30%;
  height: 150px;
}
.user-info-item {
  width: 250px;
  height: 35px;
}

.name-address-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.report-name-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 400px;
}

.largest-text {
  font-size: 40px;
}

.user-button {
  float: right;
  width: 120px;
}

.receipt-button {
  margin: 5px;
  width: 120px;
}
