.card-container {
  position: relative;
  border-radius: 8px;
  border: 1px solid black;
  width: 100%;
  padding: 7px;
  margin-bottom: 5px;
  background-color: #f7f0f0;
}

.grid-container {
  width: 100%;
}

.card-button {
  float:right;
  height: 30px;
  width: 75px;
}

.delete-button {
  margin-top: 5px;
}

.price-date-container {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  flex-direction: column;
  float: right;
}

.name-cat-container {
  display: flex;
  flex-direction: column;
}

.price {
  font-size: 32px;
  font-weight: bold;
}

.company {
  font-size: 20px;
}

.description {
  min-height: 50px;
}
